    <!-- navbar -->
    <nav id="main-nav" class="nav">
      <div class="container">
          <img src="img/alphastellar.jpg" alt="" class="logo">
          <ul>
              <li><a class="active" href="../../pages/flex-page/flex-page.component.html">Flex-Page</a></li>
              <li><a href="../../pages/grid-page/grid-page.component.html">Grid-Page</a></li>
          </ul>
          <div class="social-icons">
              <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
              <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
              <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
              <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
          </div>
      </div>
  </nav>
