<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- navbar -->
    <nav id="main-nav" class="nav">
      <div class="container">
        <a routerLink="../../pages/flex-page/flex-page.component.html"><img src="../../../assets/img/alphastellar.jpg" alt="" class="logo"></a>

          <ul>
            <li >
              <a [routerLink]="'/flex-page'" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Flex-Page</a>
            </li>
            <li >
              <a [routerLink]="'/grid-page'" routerLinkActive="active" >Grid-Page</a>
            </li>

          </ul>

          <div class="social-icons">
              <a href="#" style="gap: 10px;"><i class="fab fa-facebook fa-2x"></i></a>
              <a href="#" style="gap: 10px;"><i class="fab fa-twitter fa-2x"></i></a>
              <a href="#" style="gap: 10px;"><i class="fab fa-instagram fa-2x"></i></a>
              <a href="#" style="gap: 10px;"><i class="fab fa-youtube fa-2x"></i></a>
          </div>
      </div>
  </nav>
  <!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
