.header {
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #FFE599; /* rgba(255, 229, 153, 255); */
  border: 2px solid black;
  border-bottom: 0;
  text-align: center;
  width: 100%;
}
